<div class="card bg-primary text-white">
  <h2 class="card-header">{{ title }}</h2>
  <div class="question-edit card-body">
  <div>
    <label for="text">Question title:</label>
    <br />
    <textarea class="form-control" id="text" [(ngModel)]="question.Text" placeholder="Type text"></textarea>
  </div>
  <div>
    <input class="btn btn-success" *ngIf="editMode" type="button" value="Save changes" (click)="onSubmit(question)" />
    <input class="btn btn-success" *ngIf="!editMode" type="button" value="Create question" (click)="onSubmit(question)" />
    <input class="btn btn-danger" type="button" class="btn btn-danger" value="Cancel" (click)="onBack()" />
  </div>

  <answer-list *ngIf="editMode" [question]="question"></answer-list>

</div>
</div>
