<h3>Questions</h3>
  <div *ngIf="questions.length > 0">
    <table class="questions table table-bordered text-white">
      <thead>
      <tr>
        <th>Text</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let question of questions">
        <td>{{ question.Text }}</td>
        <td>
          <input class="btn btn-success" type="button" value="Edit" (click)="onEdit(question)" />
          <input class="btn btn-danger" type="button" value="Delete" (click)="onDelete(question)" />
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="questions.length == 0">
    That quiz has no questions yet.
    Click here to add first one: <strong>Add question</strong>
  </div>
  <input class="btn btn-success" type="button" value="Add question" (click)="onCreate()"/>
