<h3>Answers</h3>

<div *ngIf="answers.length > 0">
  <table class="answers table table-bordered text-white">
    <thead>
    <tr>
      <th>Text</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let answer of answers">
      <td>{{ answer.Text }}</td>
      <td>{{ answer.Value }}</td>
      <td>
        <input class="btn btn-success" type="button" value="Edit" (click)="onEdit(answer)" />
        <input class="btn btn-danger" type="button" value="Delete" (click)="onDelete(answer)" />
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="answers.length == 0">No answers yet. Click <strong>Add answer</strong> to add first one.</div>
<input class="btn btn-success" type="button" value="Add answer" (click)="onCreate()"/>
